absl-py
adal
altair
anyio
applicationinsights
argcomplete
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
azureml-core
Babel
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
bleach
blinker
CacheControl
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
contextlib2
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
docker
executing
fastjsonschema
filelock
firebase-admin
Flask
flatbuffers
fonttools
fqdn
fsspec
gast
gevent
gitdb
GitPython
graphviz
greenlet
grpcio
grpcio-status
gunicorn
h11
h5py
httpcore
httplib2
httpx
humanfriendly
idna
intel-openmp
ipykernel
ipython
isodate
isoduration
itsdangerous
jedi
jeepney
Jinja2
jmespath
joblib
json5
jsonpickle
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
keras
keras-tuner
kiwisolver
knack
kt-legacy
labelImg
lapx
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mkl
ml-dtypes
mpmath
msal
msal-extensions
msgpack
msrest
msrestazure
namex
nbclient
nbconvert
nbformat
ndg-httpsclient
nest-asyncio
networkx
notebook
notebook_shim
numpy
oauthlib
opencv-python
opencv-python-headless
opt-einsum
optree
overrides
packaging
pandas
pandocfilters
paramiko
parso
pathspec
pillow
pkginfo
platformdirs
portalocker
prometheus_client
prompt_toolkit
proto-plus
protobuf
psutil
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pycparser
pydeck
pydot
pydot-ng
Pygments
PyJWT
pymsalruntime
PyNaCl
pyOpenSSL
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pyreadline3
PySocks
python-dateutil
python-dotenv
python-json-logger
python-magic
pywinpty
PyYAML
pyzmq
referencing
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
scikit-learn
scipy
seaborn
SecretStorage
Send2Trash
setuptools
six
smmap
sniffio
soupsieve
stack-data
streamlit
sympy
tabulate
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
terminado
threadpoolctl
tinycss2
toml
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
ultralytics
ultralytics-thop
uri-template
uritemplate
urllib3
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wget
wheel
wrapt
zope.event
zope.interface
